.swiper-slide {
    background-color: transparent;

}

.swiper-wrapper {
    position: relative;
}

.swiper-button-prev {
    position: absolute !important;
    top: 93% !important;
    z-index: 999;
    left: 85% !important;
    font-weight: 900 !important;
    border: 2px solid;
    padding: 20px 20px !important;
    border-radius: 100%;
    /* background: rgb(73, 55, 146); */
    --swiper-navigation-size: 25px !important;
}



.swiper-button-next {
    position: absolute !important;
    top: 93% !important;
    z-index: 999;
    left: 90% !important;
    font-weight: 900 !important;
    border: 2px solid;
    padding: 20px 20px !important;
    border-radius: 100%;
    /* background: rgb(73, 55, 146); */
    --swiper-navigation-size: 25px !important;
}

element.style {
    margin-right: 0px !important;
}

@media only screen and (max-width: 1024px) {
    .swiper-button-next {
        /* Add any styles for .swiper-button-next here */
    }

    .swiper-button-prev {
        left: 82% !important;
    }
}
@media only screen and (max-width: 1024px) {
    .swiper-button-next {
        /* Add any styles for .swiper-button-next here */
    }

    .swiper-button-prev {
        left: 77% !important;
    }
}
@media only screen and (max-width: 520px) {
    .swiper-button-next {
        left: 80% !important;
    }

    .swiper-button-prev {
        left: 60% !important;
    }
}
